body {
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
}

.section-01 h1 {
    color: #131416;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.section-01 ul li {
    list-style: none;
    display: inline-block;
}

.box-01 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-01 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-02 {
    margin-top: 10vh;
}

.box-02 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-02 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-03 {
    margin-top: 10vh;
}

.box-03 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-03 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-04 {
    margin-top: 10vh;
}

.box-04 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-04 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.my {
    margin-left: 6vh;
    margin-top: 10vh;
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
