body {
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
}

.section-01 {
    margin-bottom: 10vh;

}

.container {
    display: flex;
    align-items: center;
    position: relative;
}

.container p {
    color: #131416;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    margin-left: 4vh;
}

.container img {
    height: 165px;
    width: 210px;
    border-radius: 5px;
    border: 2px solid #131416;
    margin-left: 6vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.container ul li {
    list-style: none;
    display: inline-block;
}

.box-01 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-01 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-01 img {
    height: 165px;
    width: 210px;
    border-radius: 5px;
    border: 2px solid #131416;
    margin-left: 6vh;
    margin-bottom: 7vh;
    margin-top: 5vh;
}

.box-02 {
    margin-top: 10vh;
}

.box-02 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-02 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-02 img {
    height: 165px;
    width: 210px;
    border-radius: 5px;
    border: 2px solid #131416;
    margin-left: 6vh;
    margin-bottom: 7vh;
    margin-top: 5vh;
}

.box-03 {
    margin-top: 10vh;
}

.box-03 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-03 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-03 img {
    height: 165px;
    width: 210px;
    border-radius: 5px;
    border: 2px solid #131416;
    margin-left: 6vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.box-04 {
    margin-top: 10vh;
}

.box-04 h1 {
    color: #131416;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-04 ul li {
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-04 video {
    margin-left: 6vh;
    margin-top: 4vh;
}

.my {
    margin-left: 6vh;
    margin-top: 10vh;
    margin-bottom: 3vh;
    color: #131416;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

@media (max-width: 600px) {

    .container {
        flex-direction: column;
        margin-bottom: 10vh;
        margin-top: 5vh;
        align-items: center;
    }

    .box-01 ul li {
        position: relative;
        margin-right: 2vh;
        align-items: center;
        color: #131416;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .box-02 ul li {
        position: relative;
        margin-right: 2vh;
        align-items: center;
        color: #131416;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .box-03 ul li {
        position: relative;
        margin-right: 2vh;
        align-items: center;
        color: #131416;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .box-03 img {
    margin-bottom: 2vh;
    margin-top: 2vh;
    }

    .box-04 {
        display: flex;
    }

    .box-04 ul li {
        position: relative;
        margin-right: 2vh;
        align-items: center;
        color: #131416;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
